body {
  background-color: rgb(62, 118, 103);
  font-family: monospace, monospace;
}

.container {
  max-width: 450px; /* Begrenzung der maximalen Breite des Grids */
}

.grid-item {
  background-color: #919192;
  color: white;
  border: solid;
  border-color: rgb(90, 90, 90);
  border-radius: 5px;
  border-width: 1px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
}
